<container class='form'>
  <ul>
    <%= form_for @beer do |form| %>
    
    <li><%= form.label :name %></li>
    <li><%= form.text_field :name %></li>

    <li><%= form.label :brewer %></li>
    <li><%= form.text_field :brewer %></li>

    <li><%= form.label :abv %></li>
    <li><%= form.text_field :abv %></li>

    <li><%= form.label :beer_style_id %></li>
    <li><%=form.collection_select(:beer_style_id, BeerStyle.all, :id, :style) %></li>

    <li><%= form.label :image %></li>
    <li><%= form.text_field :image %></li>

    <li><%= form.label :beer_note %></li>
    <li><%= form.text_field :beer_note %></li>

    <li><%= form.submit 'Submit' %></li>

  <% end %>
  </ul>
</container>
