<h2 class='page_hdr'>Beer - <%= @beer.name %></h2>
<container class='img15'>
  <div>
    <p><%= image_tag @beer.image %></p>
  </div>
</container>
<container class='siz30l'>
  <div>
    <p>Brewery: <%= @beer.brewer %></p>
    <p>Name   : <%= @beer.name %></p>
    <p>ABV    : <%= @beer.abv %></p>
    <p>Style  : <%= @beer.beer_style.style %></p>
    <p>Tasting notes: <%= @beer.beer_note %></p>
  </div>
</container>
<container class='siz40r'>
  <ul class="ul_list">
    <li><%= link_to 'Make a match', new_match_path, :class => 'link_line' %></l1>
    <li><%= link_to 'Add your beer', new_beer_path, :class => 'link_line' %></l1>
  </ul>
  <div>
    <p>Style notes for <%= @beer.beer_style.style %></p>
    <p><%= @beer.beer_style.style_note %></p>
  </div>
</container>