<container class='form'>
  <ul>
    <%= form_for @match do |form| %>
    
    <li><%= form.label :food_id %></li>
    <li><%=form.collection_select(:food_id, Food.all, :id, :name) %></li>

    <li><%= form.label :beer_id %></li>
    <li><%=form.collection_select(:beer_id, Beer.all, :id, :name) %></li>

    <li><%= form.label :match_note %></li>
    <li><%= form.text_field :match_note %></li>

    <li><%= form.submit 'Submit' %></li>
  <% end %>
  </ul>
</container>